@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
:root{
    --blue:  blue;
    --blueDark: #23007b;
    --blue1:  #3600be;
    --blue2:  #000792;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(40 0 4);
    animation: zoomIn 1s ease;
}

#pfp img {
    height: 300px;
    width: 300px;
    border: 2px solid #007fff;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 5px 5px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#pfp img:hover {
    transform: scale(1.05);
}
#pfp h1{
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --blue:  blue;
    --blueDark: #23007b;
    --blue1:  #3600be;
    --blue2:  #000792;
}
.cardContainer
{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}
.card1
{
    background-color: rgb(32, 0, 71);
    width: 380px;
    height: 470px;
    margin: 30px 0px;
    box-sizing: border-box;
    box-shadow: 3px 3px 4px black;
    border-radius: 20px;
    border-bottom: 2px solid red;
}

.cardBody1
{
    box-sizing: border-box;
}
.cardTitle1
{
    color: cyan;
    font-size: 25px;
    text-align: center;
    padding: 10px 5px;
    font-weight: bold;
}
.cardDesc1
{
    box-sizing: border-box;
}
.cardDesc1 li
{
    margin: 10px 10px 10px 40px;
    font-family: 'Trebuchet MS','Lucida Sans', Arial, sans-serif, Arial, sans-serif;
}
.cardDesc1 p
{
    margin: 0px 40px;
    font-size: 14px;
}
.cardDesc1 hr
{
    margin: 10px 0px;
}
.skillsTable
{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.skillsTable tr
{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.skillNames1
{
    font-size: 14px;
}
.progress
{
    width: 180px;
    height: 10px;
    background-color:  #000000 ;
    border-radius: 10px;
    margin-bottom: -3px;
}
.progress-bar
{
    
    background-image: linear-gradient(to right,var(--blue),var(--blue1),var(--blueDark));
    border-radius: 10px;  
}
#projects {
    background-color: rgb(30 30 30);
    border-radius: 20px;
    border-bottom: red 5px solid;
    box-shadow: 0 5px 5px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

#project-heading {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.accordion {
    --bs-accordion-bg: #190038;
    --bs-accordion-border-color: rgb(0, 9, 255);
    --bs-accordion-border-radius: 20px;
    --bs-accordion-active-bg: #002966;
    --bs-accordion-btn-icon: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTiK4Z4C3ngyKeIjOr4UgFsKIUTQPKOz6qRA&usqp=CAU);
    --bs-accordion-btn-active-icon: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTiK4Z4C3ngyKeIjOr4UgFsKIUTQPKOz6qRA&usqp=CAU);
}
#certificate {
    background-color: #001c1e;
    border-radius: 20px;
    border-bottom: red 5px solid;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 5px 5px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in-out;
}
#certificate h1 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#contacts {
    border-radius: 30px;
    background-color: rgb(6, 0, 51);
    box-shadow: 0 5px 5px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in-out;
    border-bottom: red 5px solid;
    margin: 20px;
}
